header {
  text-decoration: underline; }

.players button {
  display: block; }

.players ul {
  padding: 0;
  list-style-type: none;
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center; }

.players li {
  margin: 0 auto;
  text-align: center;
  color: white;
  display: inline-flex;
  flex-direction: column;
  background-color: black;
  border-radius: 10px;
  margin-right: 10px; }

.players img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: white; }

footer {
  display: block;
  position: fixed;
  bottom: 0; }

.cat-wrap {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto; }
  .cat-wrap section {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .cat-wrap section span {
      margin: 10px; }
  .cat-wrap .quest {
    cursor: pointer;
    width: 90%;
    padding: 3px;
    padding-top: 10px;
    vertical-align: bottom;
    border: 2px solid black;
    border-radius: 10px; }
    .cat-wrap .quest:hover {
      background-color: lightgray; }
